{% extends 'base.html' %}

{% load static %}

{% block main %}

{% block title %} {{ user.first_name }} - Your Applications {% endblock %}
<style>
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;

  }
/*   
  tr:nth-child(even) {background-color: rgb(238,109,115);} */
  </style>

<h1>Applications</h1>
<hr/>
<!-- #object list is all the apps -->
{% for application in object_list %}


<table class="highlight">

      <tr>
        <td> <a href="{% url 'application-detail' application.pk %}"> {{ application.title }}</a> </td>
        <td>{{ application.company_name }} </td>
        <td>{{ application.salary }} </td>
        <!-- <td> {{ application.category }} </td> -->
        <td> <a href="{% url 'application_delete' application.pk %}">Delete</td>
        <td> <a href="{% url 'application_update' application.pk %}">Update</a></td>
      </tr>

  </table>




{% endfor %}

{% endblock %}