{% extends 'base.html' %}

{% load static %}

{% block main %}

{% block title %} {{ user.first_name }} - Your Applications {% endblock %}

<h1>Applications</h1>
<!-- #object list is all the apps -->
{% for application in object_list %}
<ul>
    <li>
        <a href="{% url 'application-detail' application.pk %}"> {{ application.title }}</a> Update Application <a href="{% url 'application_update' application.pk %}">  (here) </a></br>
        {{ application.owner.first_name }} {{ application.owner.last_name }} - {{ application.owner.email }} -  </br>
     
    </li>
</ul>
<hr/>


{% endfor %}




{% endblock %}