{% extends 'base.html' %}

{% load static %}

{% block main %}

{% block title %} {{ user.first_name }} - Your Applications {% endblock %}

<h1>Applications</h1>
<!-- #object list is all the apps -->
{% for application in object_list %}
<ul>
 
    <h6>
        <a href="{% url 'application-detail' application.pk %}"> {{ application.title }}</a> 
    </h6>
        
    <h1>   <b>{{ application.Category}}</b> </h1>
        
        <br/>Update Application <a href="{% url 'application_update' application.pk %}">  (here) </a></br>


        <br/>Delete Application <a href="{% url 'application_delete' application.pk %}">  (here) </a></br>

        
        {{ application.owner.first_name }} {{ application.owner.last_name }} - {{ application.owner.email }} -  </br>
     
    </li>
</ul>
<hr/>


{% endfor %}




{% endblock %}