{% extends 'base.html' %}
{% load static %}


{% block title %} {{ application.title }} {% endblock %}
{% block main %}


<h1>{{ application.title }} </h1>
<hr/>
<ul>
    <li>
        {{ application.owner.first_name }} {{ application.owner.last_name }} - {{ application.owner.email }}  </br>
        {{ application.date_added }} </br>
        {{ application.job_post }} </br>
        {{ application.company_name }} </br>
        {{ application.company_website }} </br>
        {{ application.location }} </br>
        {{ application.salary }} </br>
        {{ application.company_size }} </br>
        {{ application.submission_status }} </br>
        {{ application.remote }} </br>
        {{ application.next_steps }} </br>
        {{ application.notes }} </br>
    </li>
</ul>

<br/><br/>

<h3>Notes...</h3>

{% if not application.notes.all %}

No notes yet... <a href="{% url 'add_note' application.pk %}">add one</a>

{%  else %}
<br/><br/>
<a href="{% url 'add_note' application.pk %}">Add Note</a>
{% for note in application.notes.all %}
<h6> <b>{{ note.name }} - {{ note.date_added }}</b></h6>

{{ note.body }}

{% endfor %}
{% endif %}
<br/><br/><br/><br/>


<a href="{% url 'applications' %}"class="waves-effect waves-light btn">Back</a>



{% endblock %}