{% extends 'base.html' %}
{% load static %}


{% block title %} {{ application.title }} {% endblock %}
{% block main %}
<style>
   table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 10px;

  }
</style>
<br/>
<a href="{% url 'applications' %}"class="waves-effect waves-light btn">Back</a>
<h1>{{ application.title }} </h1> 
<hr/>


<div class="row">
    <div class="col s12 m12">
      <div class="card black darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ application.company_name }}<td> <a href="{% url 'application_delete' application.pk %}">Delete</td>
            <td> <a href="{% url 'application_update' application.pk %}">Update</a></td></span>
          <table>
            <tr>
              <td>location: {{ application.location }}</td>
              <td>salary: {{ application.salary }} USD</td>
              <td>  company size: {{ application.company_size }}</td>
            </tr>
          </table>
          <br/>  <br/>    <br/>
        <h4> Application Stage: {{ application.category }}</h4>
        <br/>  <br/>    <br/>
        <small>
          <td>remote? {{ application.remote }}</td>
          <br/>
          {{ application.date_added }}
        </small>

        
        </div>
        <div class="card-action">
          <a href=" {{ application.job_post }}" target="_blank">Job Post URL</a>
          <a href=" {{ application.company_website }}"  target="_blank"> {{ application.company_name}} website </a>
          <a href="{% url 'add_note' application.pk %}">Add a Note</a>
          
        </div>
      </div>
    </div>
  </div>

<hr/>
<h3>Notes... for {{ application.title }} </h3>

{% if not application.notes.all %}

No notes yet... <a href="{% url 'add_note' application.pk %}">Add a Note</a>


{%  else %}
<br/><br/>
<a href="{% url 'add_note' application.pk %}">Add Note</a>
{% for note in application.notes.all %}
<h6> <b>{{ note.name }} - {{ note.date_added }}</b></h6>


{{ note.body }}

{% endfor %}
{% endif %}
<br/><br/><br/><br/>








{% endblock %}