{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
        <title>
            {% block title %}
            My Career Whiz
            {% endblock %}
        </title>
    
        <!-- Materialize CSS -->
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Local CSS -->
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="{% url 'home' %}">
                            <img src="" alt="">The Applications Whiz Logo Here
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'applications' %}">View Applications</a></li>
                    <li><a href="{% url 'contacts' %}">View Contacts</a></li>
                    <li><a href="{% url 'add_application' %}">+ New Application</a></li>
                    <li><a href="{% url 'add_category' %}">Add Category</a></li>
                    <li><a href="{% url 'add_contact' %}">Add Contact</a></li>
                    
             

                </ul>
            </div>
        </nav>
    </header>
 <br/> <br/>
    <main>
        <div class="container">
        {% block main %}
        {% endblock %}
    </div>
    {{ month }}

    {{ year }}
    </main>

 
    
</body>
</html>